[user]
	name = yong
	email = den9yon9@gmail.com
[alias]
	co = checkout
	ci = commit
	br = branch
	s = status
	l = log --oneline --color
	unstage = reset HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
	helper = store
