[user]
	email = den9yon9@gmail.com
	name = yong
[alias]
	s = status
	l = log --oneline --color
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	ci = commit
	br = branch
	unstage = reset HEAD
